$transition: all 0.3s linear;
  $spacing: 0.1rem;
  $radius: 0.25rem;
  $light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  $dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  $max-width: 1170px;
  $fixed-width: 620px;


$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-10: hsl(210, 36%, 96%);

$Vintage-look-1-rgba: rgb(246,158,107);
$Vintage-look-2-rgba: rgba(246,205,130, 1);
$Vintage-look-3-rgba: rgba(91,87,79, 1);
$Vintage-look-4-rgba: rgba(145,167,140, 1);
$Vintage-look-5-rgba: rgba(223,212,172, 1);


$Teal-Dark-1-rgba: rgba(43,52,49, 1);
$Teal-Dark-2-rgba: rgba(14,100,102, 1);
$Teal-Dark-3-rgba: rgba(216,175,140, 1);
$Teal-Dark-4-rgba: rgba(255,202,154, 1);
$Teal-Dark-5-rgba: rgba(209,232,226, 1);

$duck-on-the-ocean-2-1-rgba: rgba(20,20,15, 1);
$duck-on-the-ocean-2-2-rgba: rgba(4,61,56, 1);
$duck-on-the-ocean-2-3-rgba: rgba(51,103,92, 1);
$duck-on-the-ocean-2-4-rgba: rgba(163,204,171, 1);
$duck-on-the-ocean-2-5-rgba: rgba(242,103,0, 1);
